{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
   "type": "es6",
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@src/*": ["./src/*"],
      "@shared/*": ["./src/Shared/*"],
      "@app/*": ["./src/App/*"],
      "@auth/*": ["./src/Auth/*"],
      "@config/*": ["./src/Config/*"],
      "@file/*": ["./src/File/*"],
      "@item/*": ["./src/Item/*"]
    },
  },
  "minify": false,
}
